<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
      <!-- Page Header-->
      <header class="masthead"
        style="padding-top:50px; padding-bottom:50px; background-image: url('/assets/img/test-bg.jpeg')">
        <div class="container position-relative px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            </div>
          </div>
        </div>
      </header>
      <!-- Page Content-->
      <div class="container px-4 px-lg-5">
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
          <div class="col-md-3 mb-2"></div>
          <div class="col-md-6 mb-2" style="text-align:center">
            <% if (typeof(code) !="undefined" ) {%>
              <% if (code===200) {%>
                <h3 class="card-title">Signup is successful, please log in.</h2>
                  <%}}%>
                    <% if(errors !=null && errors.length> 0){ %>
                      <ul class="list-group">
                        <% for (let i=0; i < errors.length; i++) { %>
                          <li class="list-group-item list-group-item-danger">
                            <%= errors[i] %>
                          </li>
                          <% } %>
                      </ul>
                      <% } %>
          </div>
          <div class="col-md-3 mb-2"></div>
        </div>
        <div class="row gx-4 gx-lg-5">
          <div class="col-md-1 mb-5 p-0"></div>
          <div class="col-md-5 mb-5">
            <div class="card h-100">
              <div class="card-body login-card-body">
                <h2 class="card-title">Sign up</h2>
                <form id="signUpForm" action="/users/signup" method="POST">
                  <div class="mb-3">
                    <label for="userName" class="form-label">User name</label>
                    <input type="text" class="form-control" id="userName" name="userName" value="<%=username%>">
                    <p class="err-message"></p>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="<%=password%>">
                    <p class="err-message"></p>
                  </div>
                  <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" value="<%=password%>">
                    <p class="err-message"></p>
                  </div>
                  <div class="mb-3">
                    <label for="userType" class="form-label">User Type</label>
                    <select name="userType" id="userType" name="userType" class="form-control">
                      <option value="driver">Driver</option>
                      <option value="examiner">Examiner</option>
                      <option value="admin">Admin</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-5 mb-5">
            <div class="card h-100">
              <div class="card-body login-card-body">
                <h2 class="card-title">Login</h2>
                <form id="loginForm" action="/users/login" method="POST">
                  <div class="mb-3">
                    <label for="loginUserName" class="form-label">User name</label>
                    <input type="text" class="form-control" id="loginUserName" name="loginUserName"
                      value="<%=loginUserName%>">
                    <p class="err-message"></p>
                  </div>
                  <div class="mb-3">
                    <label for="loginPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="loginPassword" name="loginPassword"
                      value="<%=loginPassword%>">
                    <p class="err-message"></p>
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-1 mb-5 p-0"></div>
        </div>
      </div>
      <!-- Footer-->
      <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
  </body>

</html>